html,
 body {
	 margin:0;
	 padding:0;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
 }

h1 {
	font-size: 56px;
	&.big {
		font-size: 150px;
		@media(max-width: 600px){
			font-size: 56px;
		}
	}
}
h4 {
	color: #264692;
	font-size: 28px;
}

p {
	font-size: 16px;
}

.white {
	color: #fff;
}

.logo-container {
	background-color: #fff;
}

.metal {

	@include background-image();
	background-image: url(../images/asphalt.png);
	&.team {
		padding-bottom: 50px;
	}
}

.image {
	width: 100%;
	height: auto;
}

.content-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.hero-image {
	height: 550px;
	width: 100%;
	@include background-image();
	position: relative;
	@media (max-width: 440px){
		height: 350px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #264692;
		background-color: rgba(0,0,0,0.4);
	}
	&.not-found {
		height: 100vh;
		background-image: url(../images/metal.jpg);
	}
	&.teamhome {
	
	}
	.content-hero {
		@include positioning-center-center();
		color: #ffffff;
		text-align: center;
		width: auto;
		height: auto;
		padding: 10px;
		&:before {
			content: '';
			width: 100%;
			height: 5px;
			border-radius: 20px;
			background-color: red;
			bottom: 0;
			left: 0;
			position: absolute;
		}
	}

}

.text-container {
	padding: 50px 0;
}

footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $primary-blue;
	color: #ffffff;
	.site-map {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		@media(max-width: 440px){
			flex-direction: column;
		}
		ul {
			flex: 1;
			li {
				a {
					color: #fff;
					@include transition(300ms);
					&:hover {
						color: red;
						text-decoration: none;
					}
				}
			}
		}
	}
	
}

.btn {
	border: 1px solid #264692;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 0;
	background-color: #264692;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	@include transition(300ms);
	&:hover {
		border: 1px solid #14244a;
		background-color: #14244a;
		color: #ffffff;
	}
}

.btn-white {
	border: 1px solid #fff;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.6);
	@include transition(300ms);
	&:hover {
		border: 1px solid #14244a;
		background-color: #14244a;
		color: #ffffff;
	}
}


.btn-secondary {
	border: 1px solid #264692;
	color: #264692;
	padding: 10px 20px;
	border-radius: 0;
	background-color: transparent;
	@include transition(300ms);
	&:hover {
		border: 1px solid #264692;
		background-color: #264692;
		color: #ffffff;
	}
}

.button-container {
	text-align: center;
}

input {
	border: 1px solid #d3d3d3;
	color: $primary-blue;
	padding: 10px 20px;
	font-size: 16px;
	@include transition(300ms);
	&:focus,:active {
		border: 1px solid $primary-blue;
	}

}

.news-letter-container {
	text-align: center;
	padding: 50px 0;
	background-color: $primary-blue;
	text-transform: uppercase;
	color: #ffffff;
	h2 {
		margin-bottom: 20px;
		font-size: 25px;
	}
	input {
		vertical-align: top;
		@media(max-width: 440px){
			width: 100%;
		}
	}
	button {
		vertical-align: top;
		@media(max-width: 440px){
			width: 100%;
		}
	}

}

.text-center {
	text-align: center;
}

.table {
	display: table;
	margin-top: 50px;
	.table-row {
		display: table-row;
		border-bottom: 1px solid #d3d3d3;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			background-color: #d3d3d3;
			height: 1px;
		}
		&:first-of-type {
			&:before {
				height: 0;
			}
		}
		.table-cel {
			display: table-cell;
			width: 50%;
			text-transform: capitalize;
			padding: 20px;
			font-size: 18px;
			font-weight: 300;
			@media (max-width: 440px){
				width: 100%;
				float: left;
			}
			a {
				text-decoration: none;
			}
		}
		&.head {
			.table-cel {
				font-weight: 600;
			}
		}
	}

}

.img-container {
	padding: 0 50px;
	.img-holder {
		width: 100%;
		@include background-image();
		height: 300px;
		background-color: red;
		@media (max-width: 767px){
			margin-bottom: 20px;
		}
	} 
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}